.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 20px;
    align-items: center;
    margin:auto 0;
    max-width: 1200px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.logo {
    max-width: 100px; 
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 24px; 
    font-weight: bold; 
}

.navbar__menu {
    display: flex;
    gap: 35px;
    padding-left: 30px;
    font-family: 'Inter', system-ui;
    font-size: 11px;
    margin: 0 20px 0 0;
    font-weight: bold;
    margin-right: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__menu a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.cta {
  background-color: rgb(78, 114, 219);
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.cta:hover {
  background-color: dodgerblue;
}

.cta:active {
  background-color: navy;
}

.cta::after {
  content: " →";
  font-weight: bold;
}
/* body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.parent-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.description {
    background-color: white;
    padding: 10px;
    border: none;
    color:rgb(75, 71, 71)
}

.container1, .container2 {
    width: 40%;
    background-color: white;
    padding: 10px;
    border: none;
}
span {
    color: rgb(114, 80, 227);
    padding: 2px 4px;
    border-radius: 4px;
}

.image1 {
    width: 200px;
    height: auto;
    color: rgb(181, 173, 173);
}

.image2 {
    width: 600px;
    height: auto;
}

.p {
    font-size: 9px;
    color: #93707050;
    padding-top: 30px;
}

.section2-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.section2-features{
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(135, 116, 188);
    max-width: 800px;
    margin: 0 auto;
}

.section2-title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.section2-description {
    font-size: 11px;
    font-weight: 400;
    color: rgba(54, 52, 52, 0.392);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 25px auto 0 auto;
}

.section2-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 25px auto 0 auto;
}

.card {
    display: flex;
    width: calc(100%/3);
    margin-top: 25px;
}
    
.card-icon {
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    margin: 0 auto;
    border: .5px solid rgb(179, 162, 162);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);

}

.card-title {
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
}

.card-description {
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.392);
}

.section3-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.section3-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.section3-image {
    display:flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: auto;
}























@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}