.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 20px;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.logo {
    max-width: 100px; 
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 24px; 
    font-weight: bold; 
}

.navbar__menu {
    display: flex;
    gap: 35px;
    padding-left: 30px;
    font-family: 'Inter', system-ui;
    font-size: 11px;
    margin: 0 20px 0 0;
    font-weight: bold;
}

.navbar__menu a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.cta {
  background-color: rgb(78, 114, 219);
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.cta:hover {
  background-color: dodgerblue;
}

.cta:active {
  background-color: navy;
}

.cta::after {
  content: " →";
  font-weight: bold;
}
/* body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.parent-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.description {
    background-color: white;
    padding: 10px;
    border: none;
    color:rgb(75, 71, 71)
}

.container1, .container2 {
    width: 48%;
    background-color: white;
    padding: 10px;
    border: none;
}
span {
    color: rgb(114, 80, 227);
    padding: 2px 4px;
    border-radius: 4px;
}

.image1 {
    width: 100%;
    height: auto;
    color: rgb(181, 173, 173);
}

.image2 {
    width: 500px;
    height: auto;
}

.p {
    font-size: 9px;
    color: #93707050;
    padding-top: 30px;
}
































@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}