.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo {
    max-width: 100px; 
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 24px; 
    font-weight: bold; 
}


.navbar__menu {
    display: flex;
    gap: 15px;
    padding-left: 30px;
}

.navbar__menu a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.cta {
  background-color: royalblue;
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.cta:hover {
  background-color: dodgerblue;
}

.cta:active {
  background-color: navy;
}

.cta::after {
  content: " →";
  font-weight: bold;
}